
// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primaryColor: #F9672B;
$accentColor: #6B557E;
$secondAccentColor: #C62717;
$greyColor: #F8F8F8;
$likeColor: #4285F4;
