
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

button {
	background: $accentColor;
	border: 1px solid darken($accentColor, 12%);
	color: #fff;
	cursor: pointer;
	outline: 0px;

	&:hover {
		background: darken($accentColor, 12%);
	}
}

#header {
	text-align: center;
	h1.app-title {
		color: $primaryColor;
		margin: 25px auto;
	}
	#category {
		max-width: 800px;
		margin: 20px auto;
		position: relative;

		a {
			display: inline-block;
			padding: 4px 8px;
			background: $greyColor;
			text-decoration: none;
			margin: 5px;
			border: 1px solid darken($greyColor, 8%);
			border-radius: 8px;
			transition: background 1s;
			cursor: pointer;
			&:hover {
				background: darken($greyColor, 12%);
			}
			&.active {
				background: $accentColor;
				color: #fff;
			}
		}
	}

	#searchbar {
		input[type=search] {
			outline: 0px;
			border: 1px solid $accentColor;
			width: 50%;
			padding: 8px 16px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		button {
			@extend button;
			padding: 8px 16px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
	}
}

.spinner-large {
	display: inline-block;
}

.spinner-middle {
	text-align: center;
	img {
		margin-top: 50px;
		width: 48px;
		height: 48px;
	}
}

.voting-booth {
	margin: 10px;
	span{
		margin: 10px 50px;
		strong {
			font-size: 14px;
			margin-left: 4px;
		}
	}
	.like {
		cursor: pointer;
		svg {
			color: $likeColor;
		}
	}
	.unlike {
		cursor: pointer;
		svg {
			color: $secondAccentColor;
		}
	}
}

.single-joke-wrapper {
	max-width: 605px;
	text-align: center;
	margin: 30px auto;
}

.single-joke {
	max-width: 600px;
	text-align: center;
	font-size: 24px;
	background: $greyColor;
	padding: 25px;
	border: 1px solid darken($greyColor, 5%);
	color: $accentColor;
}

#bodyCentre {
	text-align: center;
	margin-top: 150px;
	.loading {
		color: $primaryColor;
		margin-top:30px;
	}
}

.jokes-list-wrapper {
	max-width: 800px;
	margin: 25px auto;
	.title {
		background: $accentColor;
		color: #FFF;
		padding: 4px 8px;
		font-weight: 700;
	}
}

.joke-list-card {
	margin: 5px 0px;
	background: $greyColor;
	padding: 25px;
	border: 1px solid darken($greyColor, 5%);
	color: $accentColor; 
	display: flex;
	flex-direction: row;
	.icon {
		width: 60px;
	}
	.like-unlike {
		max-width: 100px;
		min-width: 30px;
		strong {
			margin-left: 4px;
		}
		.like {
			cursor: pointer;
			svg {
				color: $likeColor;
				&:hover {
					color: darken($likeColor, 5%);
				}
			}
		}
		.unlike {
			cursor: pointer;
			svg {
				color: $secondAccentColor;
				&:hover {
					color: darken($secondAccentColor, 5%);
				}
			}
		}
	}
	.joke {
		padding: 0px 10px;
		flex-grow: 2;
	}
}

.pagination {
	text-align: center;
	span {
		margin: 6px 0px;
		font-size: 16px;
		color: $primaryColor;
	}
	a {
		font-family: Arial;
		display: inline-block;
		padding: 4px 8px;
		margin: 4px;
		background: $greyColor;
		
		&.currentPage {
			background: #007bff;
			color: #fff;
		}
	}
}
.footer {
	text-align: center;
	border-top: 1px solid #ccc;
	background: $greyColor;
	padding: 8px;
	margin-top: 100px;
}

.not-found {
	text-align: center;
	margin: 175px auto;
	width: 600px;
	p {
		font-size: 18px;
		color: $primaryColor;
	}
}
#popular-jokes {
	text-align: center;
}
